<div class="page-header">
  <%= link_to feeds_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_feed_path(@feed), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show feed</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @feed.name %></dd>

  <dt>Feed url:</dt>
  <dd><%= @feed.feed_url %></dd>

</dl>

<div class="list-group">
  <a href="#" class="list-group-item active">
    Feeds by recent 
  </a>
  <% @feed.items.each do |item|%>
    <%=link_to item.title, item.link, target: "_blank", class: "list-group-item" %>
  <% end %>
</div>